<html>
    <head>
        <title>Yasmin's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Yasmin's Blog</a></h1>
        </div>

        <div>
            <p>publicado: 15.04.2024, 12:14</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>Este é o primeiro blog usado como teste para aprender a programação de web.</p>
        </div>

        <div>
            <p>publicado: 15.04.2024, 12:14</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>Através deste blog, esperamos bons resultados para a criação do aplicativo organizador de filas de restaurantes. Como trabalho de Conclusão de Curso em Eletrônica Integrado ao Médio no IFPB - Campus João Pessoa.</p>
        </div>
    </body>
</html>